<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Tasks</title>
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li>
                    <a href="/tasks">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/tasks/add">
                        Create
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    {{{body}}}
</body>
</html>