<div class="container-create">
    <h1>Create task</h1>
    <form action="/tasks/add" method="POST" class="form-create">
    <div class="form-control">
        <label for="title">Title:</label>
        <input type="text" name="title" placeholder="What is your task title?">
    </div>
    <div class="form-control">
        <label for="description">Description:</label>
        <textarea type="text" name="description" placeholder="What is your task description?"></textarea>
    </div>
    <input type="submit" value="Create" class="btn-create">
    </form>
</div>